
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 5em;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.left {
  width: 45%;
  height: 100vh;
  float: left;
  background-color: #EF476F;
  color: #FFD166;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  width: 55%;
  height: 100vh;
  float: right;
  background-color: #FFD166;
  color: #EF476F;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 800px){
  .left {
    width: 100%;
    height: 50vh;
    float: left;
    background-color: #EF476F;
    color: #FFD166;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right {
    width: 100%;
    height: 50vh;
    float: right;
    background-color: #FFD166;
    color: #EF476F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
